
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
  font-family: "Montserrat", sans-serif;
  background-color: #333;
}
.star {
  height: 30px;
  color: gray; 
  margin-top: 15px;
}
.active {
  color: orange;
}
.active-half {
  color: orange; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 100px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
.menu_wrapper{
  display: flex;
  gap: 40px
}
.menu_wrapper > a {
  font-size: 30px;
}
.content{
  padding: 100px 50px;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
button{
  background-color: #222;
  color: #fff;
  border: 0;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.ProdImg{
  height: 300px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer{
  height: 100px;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #fff;
  font-size: 20px;
}
.goBack{
  width: 100px;
  height: 80px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
li.ProductPreview {
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}